$space: 4px;
$space2: $space * 2;

/*                    *\
	Begin Chat Message 
\*                    */
.chatmsg {
	position: relative;
	width: auto;
	min-height: 1em;

	padding: 0.5em 0.5em 0.4em 0.5em;

	opacity: .9;

	display: block;
	vertical-align: middle;

	margin: 5px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	word-wrap: break-word;

	&.me {
		background-color: #E3ECF2;
		color: #6C7278;
		margin-left: 15px;
		margin-right: 10px;
	
		text-align: right;
		
		.chatmsg-author {
			display: block;
			font-size: 10px;
			margin-bottom: $space;
			color: #6CA8A1;
		}
		
		.chatmsg-text {
			display: block;
			
			text-align: right;
			font-size: 12px;
		}
	}
	&.other {
		background-color: #F3F4F6;
		color: #5D6065;
		left: 9px;
		margin-right: 20px;

		text-align: left;
		
		.chatmsg-author {
			display: block;
			font-size: 10px;
			margin-bottom: $space;
			color: #6CA8A1;
		}
		
		.chatmsg-text {
			display: block;
			
			text-align: left;
			font-size: 12px;
		}
	}
}

.chatmsg:before {
	content: "";
	position: absolute;
	top: 0.7em;
	border-style: solid;
	display: block;
	width: 0;
	z-index: 1;
}
// bubble message arrows
.chatmsg.me:before {
	right: -9px;
	border-width: 5px 0 5px 10px;
	border-color: transparent #E3ECF2;
}
.chatmsg.other:before {
	left: -9px;
	border-width: 5px 10px 5px 0;
	border-color: transparent #F3F4F6;
}