@import "compass";

$space: 4px;
$space2: $space * 2;

$chatTabHeight: 375px;
$chatTabWidth: 375px;
$inputHeight: 30px;
$actionbarHeight: 40px;
$messageListHeight: $chatTabHeight - $inputHeight;

* {
	margin: 0;
	padding: 0;
}

.chat {
	display: block;
	max-width: $chatTabWidth;
	min-height: $chatTabHeight;
	
	padding-top: 10%;
	margin-right: auto;
	margin-left: auto;
	
	.actionbar {
		position: relative;
		@include background-image(linear-gradient(180deg, #F9F9F9, #F4F4F4, #E6E7E9));
		height: $actionbarHeight;
		
		-webkit-border-radius: 3px 3px 0px 0px;
		-moz-border-radius: 3px 3px 0px 0px;
		border-radius: 3px 3px 0px 0px;
		
		border-top: 1px solid #DDDEE0;
		
		.name {
			display: inline-block;
			padding: 14px;
			color: #4D4D4D;
			font-size: 14px;
		}
		
		.actions {
			position: absolute;
			top: 0px;
			right: 0px;
		}
		.actions .action {
			display: inline-block;
			width: 40px;
			height: 40px;
			border-left: 1px solid #DDDEE0;
		}
		.actions .action:before {
			content: "";
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 1px;
			height: 40px;
			border-left: 1px solid #F3F4F6;
		}
	}

	/*                  *\
	   Begin Chat Input 
	\*                  */
	.messages {
		height: $messageListHeight;
		max-height: $messageListHeight;
		overflow-y: scroll;
		
		background-color: #FFF;
	}

	/*                  *\
	   Begin Chat Input 
	\*                  */
	.chatinput {
		display: block;

		padding-left: $space2;
		padding-right: $space2;
		background-color: #FFF;
		
		border-top: 1px solid #E7E7E7;
		
		.chatinput-input {
			display: block;
			width: 100%;
			
			height: $inputHeight;
			max-height: $inputHeight;
			
			border: 0px !important;
			
			outline: 0;
		}
		
		-webkit-border-radius: 0px 0px 3px 3px;
		-moz-border-radius: 0px 0px 3px 3px;
		border-radius: 0px 0px 3px 3px;
	}
}

/*                            *\
   Begin Background Gradients 
\*                            */
.angle-gradient {
	@include background-image(linear-gradient(180deg, #28668F, #64658E, #C64891));
}

body {
	display: block;
	width: 100%;
	height: 100%;
	
	@include background-image(linear-gradient(90deg, #28668F, #64658E, #28668F));
}

.opacity-enter {
  opacity: .6;
  transition: opacity .2s ease-in;
}

.opacity-enter:hover {
  opacity: 1;
}

.icon {
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    
    margin: 11px;
}

.icon-close {
    width: 16px;
    height: 16px;
    background-position: -5px -5px;
}

.icon-settings {
    width: 16px;
    height: 16px;
    background-position: -31px -5px;
}
